body {
    background-color: lightblue;
    color: navy;
}
#grids-container {
    display: flex;
    justify-content: center;
}
.plotbox {
    height: 40px;
    width: 40px;
    border: dotted 1px black;
    box-sizing: border-box;
}
.board {
    width: 400px;
    height: 400px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
}

.rocket-container {
    width: 700px;
    height: 100px;
    margin: 50px 400px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ship1 {
    height: 20px;
    width: 40px;
    background-color: green;
    margin: 5px;
}

#ship2 {
    height: 20px;
    width: 60px;
    background-color: blue;
    margin: 5px;
}

#ship3 {
    height: 20px;
    width: 60px;
    background-color: purple;
    margin: 5px;
}

#ship4 {
    height: 20px;
    width: 80px;
    background-color: yellow;
    margin: 5px;
}

#ship5 {
    height: 20px;
    width: 100px;
    background-color: black;
    margin: 5px;
}