body {
    background-color: lightblue;
    color: navy;
}
#grids-container {
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.board {
    /* width: 400px;
    height: 400px; */
    /* margin: 0 50px; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(10, 40px);
    /* border: solid black; */
}

.plotbox {
    height: 40px;
    width: 40px;
    border: dotted 1px black;
    box-sizing: border-box;
}

.rocket-container {
    width: 500px;
    height: 100px;
    margin: 20px 500px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destroyer {
    height: 40px;
    width: 80px;
    background-color: green;
    margin: 3px;
}

.submarine {
    height: 40px;
    width: 120px;
    background-color: blue;
    margin: 3px;
}

.cruiser {
    height: 40px;
    width: 120px;
    background-color: purple;
    margin: 3px;
}

.battleship {
    height: 40px;
    width: 160px;
    background-color: yellow;
    margin: 3px;
}

.carrier {
    height: 40px;
    width: 200px;
    background-color: black;
    margin: 3px;
}